<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/inicio.css" />

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu Principal </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/noticias/noticiasMenu">Notícias</a></li>                    
                    <li><a href="/receitas/receitasMenu">Receitas</a></li>
                    <li><a href="/lazer/lazerMenu">Lazer</a></li>                    
                    <li><a href="/classificados/classificadosMenu">Classificados</a></li>
                    <li><a href="#">Eletrônicos</a></li>
                    <li><a href="/inicio/formAbas">Formulario Abas</a></li>
                    <li><a href="/parcial/formParcial">Formulário Modular</a></li>
                    <li><a href="/contato/contatoMenu">Contato</a></li> 
                </ul>                
            </nav>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/menu.jpg" alt="menu">
        </div>

        <footer id="rodape">

        </footer>

    </body>
</html>