<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/receitas.css" />

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu de Receitas </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/">Voltar</a></li>                    
                    <li><a href="#">Massas</a></li>
                    <li><a href="#">Caldos</a></li>                                        
                    <li><a href="#">Salgados</a></li>                    
                    <li><a href="#">Doces</a></li>                                        
                    <li><a href="#">Churrasco</a></li>                    
                </ul>                
            </nav>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/receitas/receitas.jpg" alt="receitas">
        </div>

        <footer id="rodapeReceitas">

        </footer>

    </body>
</html>