<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/lazer.css" />
        

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu de Lazer </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/">Voltar</a></li>                    
                    <li><a href="#">Teatro</a></li>
                    <li><a href="#">Cinema</a></li>                    
                    <li><a href="#">Parques</a></li>                                        
                    <li><a href="#">Shows</a></li>                    
                    <li><a href="#">Shoppings</a></li>                                        
                </ul>                
            </nav>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/lazer/lazer.jpg" alt="lazer">
        </div>

        <footer id="rodapeLazer">

        </footer>

    </body>
</html>