<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/contato.css" />

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu de Contato </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/">Voltar</a></li>                    
                    <li><a href="#">E-mail</a></li>
                    <li><a href="#">Telefone</a></li>                    
                    <li><a href="#">WhatsApp</a></li>                                        
                    <li><a href="#">Facebook</a></li>                    
                    <li><a href="#">Instagran</a></li>                                        
                </ul>                
            </nav>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/contatos/contato.jpg" alt="contato">
        </div>

        <footer id="rodapeContato">

        </footer>

    </body>
</html>