<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/noticias.css" />

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu Honda City </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/honda">Voltar</a></li>
                    <li><a href="/honda/city/pop">Pop</a></li>
                    <li><a href="/honda/city/biz">Biz</a></li>
                    <li><a href="/honda/city/cg-fan">CG Fan</a></li>
                    <li><a href="/honda/city/cg-titan">CG Titan</a></li>
                </ul>
            </nav>
        </header>

        <div class="img_menu">
            <img src="/imagens/honda-city-motos.png" alt="Honda City">
        </div>

        <footer id="rodapeNoticiasFutebol">

        </footer>

    </body>
</html>
