

      </div>
      <footer class="text-center">
          <table border="0" cellpadding="3" width="100%">
              <tr>
                <td id="footerCol1" width="20%"> Usuário: <%= usuario %> </td> 

                <td id="footerCol2" width="60%"> <small>Faculdade de Tecnologia - Dr. Thomaz Novelino - Programação Script: <a href="https://site.fatecfranca.edu.br/" target="_blank">Fatec-Franca</a></small> </td>  
                <td id="footerCol3" width="20%"> <%= rota %> </td> 
              </tr>
           </table> 
        <br>
      </footer>
    </div>
  </body>
</html>