<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/classificados.css" />

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu de Classificados </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/">Voltar</a></li>                    
                    <li><a href="#">Imóveis</a></li>
                    <li><a href="#">Automóveis</a></li>                    
                    <li><a href="#">Motocicletas</a></li>                                        
                    <li><a href="#">Terrenos</a></li>                    
                    <li><a href="#">Trabalho</a></li>                                        
                </ul>                
            </nav>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/classificados/classificados.jpg" alt="classificados">
        </div>

        <footer id="rodapeClassificados">

        </footer>

    </body>
</html>