<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/noticias.css" />

    </head>

    <body>

        <header>
            <h1 class="titulo"> Menu de Noticias </h1>
            <nav class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/">Voltar</a></li>                    
                    <li><a href="/noticias/noticiasEsporteMenu">Esporte</a></li>
                    <li><a href="#">Economia</a></li>                    
                    <li><a href="#">Saúde</a></li>                                        
                    <li><a href="#">Meio Ambiente</a></li>                    
                    <li><a href="#">Internacional</a></li>                                        
                </ul>                
            </nav>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/noticias/noticias.jpg" alt="notícias">
        </div>

        <footer id="rodapeNoticias">

        </footer>

    </body>
</html>