<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/estilos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/noticias.css" />

    </head>

    <body>

        <header>

            <h1 class="titulo"> Menu de Notícias de Esporte Futebol</h1>
                    
            <section class="menuPrincipal">
                <ul>
                    <li><a href="/">Início</a></li>                    
                    <li><a href="/noticias/noticiasEsporteMenu">Voltar</a></li>                    
                    <li><a href="#">Campeonato Brasileiro</a></li>
                    <li><a href="#">Libertadores</a></li>                    
                    <li><a href="#">Copa Sulamericana</a></li>                                        
                    <li><a href="#">Seleção Brasileira</a></li>
                </ul>                
            </section>
        </header>

        <div class="img_menu"> 
            <img src="/imagens/esportes/futebol/futebol.jpg" alt="esportes">
        </div>

        <footer id="rodapeNoticiasFutebol">

        </footer>

    </body>
</html>